* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 32px;
}

h3 {
  margin: 2% 0;
}

.img-full {
  height: 200px;
}

.img-circle {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px;
}

/* impostazioni generale delle colonne per affiancarle */
[class*="col-"] {
  text-align: center;
  padding: 20px;
}

.wrap-lezioni {
  background-color: white;
}

.wrap-steps {
  background-color: lightgrey;
}

.wrap-why {
  background-color: lightgrey;
  margin-top: 5%;
}
